/vendor/
/composer.lock
.phpunit.result.cache
/coverage/
/coverage.xml
.clover
.php-cs-fixer.cache
.phpcs-cache
.phpunit.cache
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~
.env
.env.*
!.env.example
/build/
*.log
